@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Turret+Road:wght@400;500;700&display=swap' );

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: "Turret Road", sans-serif; 
}


:root {
  --color-pretoHeader: #080a09;
  --color-pretoCorpo: #000000;
  --color-roxoPrincipal: #593bcc;
}

body {
  height: 100vh;
  width: 100vw;
}

header {
  background-color: var(--color-pretoHeader);
}

header section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9vh;
}

.logo-img {
  width: 75px;
}
.logo-nome {
  width: 200px;
  height: 45px;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85vh;
  background: var(--color-pretoCorpo);
}

.primeira-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50vw;
  height: 70vh;
}

.primeira-section div {
  display: flex;
  justify-content: space-between;
  width: 40vw;
}

::placeholder {
  color: var(--color-roxoPrincipal);
  font-size: 40px;
  text-shadow: 0 0 15px;
}

.primeira-section .input {
  background: transparent;
  color: var(--color-roxoPrincipal);
  border: none;
  height: 60vh;
  font-size: 50px;
  outline: none;
  text-shadow: 0 0 15px;
}

.primeira-section button {
  width: 17vw;
  height: 60px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  color: #593bcc;
  border-radius: 10px;
  border: 2px solid var(--color-roxoPrincipal);
  cursor: pointer;
}

button:hover {
  text-shadow: 0 0 20px;
  box-shadow: 0 0 20px, inset 0 0 20px;
}

.segunda-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24vw;
  height: 70vh;
  border-radius: 10px;
  border: 2px solid var(--color-roxoPrincipal);
  box-shadow: var(--color-roxoPrincipal) 0 0 30px;
}

.segunda-section .div-PH2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 24vw;
}

.segunda-section div h2 {
  word-wrap: break-word;
  font-size: 1.5vw;
  color: var(--color-roxoPrincipal);
  width: 25vw;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  text-shadow: 0 0 10px;
}

.segunda-section div p {
  color: var(--color-roxoPrincipal);
  font-size: 1.2vw;
  width: 25vw;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  text-shadow: 0 0 10px;
}

.segunda-section img {
  width: 23.8vw;
  height: 50vh;
}

.segunda-section .div-BotaoCopiar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 60px;
}

.segunda-section button {
  width: 50vw;
  height: 60px;
  background-color: transparent;
  font-size: 18px;
  color: var(--color-roxoPrincipal);
  border-radius: 10px;
  border: 2px solid var(--color-roxoPrincipal);
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: 600;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  background-color: var(--color-pretoHeader);
}

footer p {
  font-family: "Rajdhani", sans-serif;
  color: var(--color-roxoPrincipal);
  text-shadow: 0 0 10px;
}

output{
  word-wrap: break-word;
  font-size: 1.4vw;
  color: var(--color-roxoPrincipal);
  width: 23vw;
  text-shadow: 0 0 15px;
  text-align: center;
  font-weight: 500;
}
